* {
    box-sizing: border-box;
}
body {
    margin: 50;
    font-size: 17px;
}

h1 {
    font-family: 'family=Shizuru';   
}

label {
     display: block;  
     margin-bottom: 20px;
}

input[type="text"], textarea, select {
    padding: 10px;
    width: 500px;
    font-size: 15px;
    border: 1px solid #CCC;
    outline: 0px;
    margin-top: 5px;
    resize: none;
}

textarea {
    height: 200px;
    resize: none;
}
.termoslink {
    color: black;
    text-decoration: none;
}

.termoslink:hover {
    text-decoration: underline;
}

button {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #CCC;
    background-color: #EEE;
}

button:hover {
    background-color: #DDD;
}
